<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author.name %>
  </p>

  <p>
    <strong>Publish at:</strong>
    <%= book.publish_at %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>
  <br/>
  <% if book.image.content_type.in?(%w[image/jpeg image/png]) %>
    <p>
      <%= link_to image_tag(book.image_resize), book.image if book.image.attached? %>
    </p>
  <% end %>
</div>
