<div class="container mx-auto px-4">

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-8">
    <div class="w-full mb-6 sm:flex-none">
      <div class="relative bg-white border border-gray-300 rounded-lg shadow-xl overflow-hidden">
        <div class="relative items-center p-6">
          <h1 class="text-3xl font-bold mb-4"><%= @book.title %></h1>
          <div class="mb-4">
            <%= image_tag(@book.image, alt: @book.title, class: 'rounded-md mx-auto', style: 'max-width: 100%; height: auto;') %>
          </div>
          <div class="text-lg text-gray-600">
            By: <span class="text-blue-500"><%= @book.author.name %></span>
          </div>
          <div class="text-lg text-gray-600">
            Published on: <%= @book.publish_at %>
          </div>
        </div>
        <div class="px-6 py-4">
          <h2 class="text-xl font-semibold mb-2">Description</h2>
          <p class="text-gray-700"><%= @book.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
