<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= 'apple-icon.png' %>">
    <link rel="icon" type="image/png" href="<%= 'favicon.png' %>">
    <title>AssociationsPart1</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <!-- Nucleo Icons -->
    <link href="<%= 'nucleo-icons.css' %>" rel="stylesheet">
    <link href="<%= 'nucleo-svg.css' %>" rel="stylesheet">
    <!-- Popper -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <!-- Main Styling -->
    <link href="<%= 'soft-ui-dashboard-tailwind.css' %>?v=1.0.5" rel="stylesheet">

    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag '/app/javascript/controllers/delete_confirmation' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/sidebar' %>
    <%= render 'layouts/messages' %>
    <%= yield %>
  </body>

  <!-- plugin for charts -->
  <script src="<%= 'plugins/chartjs.min.js' %>" async></script>
  <!-- plugin for scrollbar -->
  <script src="<%= 'plugins/perfect-scrollbar.min.js' %>" async></script>
  <!-- github button -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- main script file -->
  <script src="<%= 'soft-ui-dashboard-tailwind.js' %>?v=1.0.5" async></script>
</html>
